* {
    font-family: Pirata One, serif;
    font-size: 18pt;
    /* color: #05497B; */
}

body {
    background-image: url("img/Blank\ Map.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

.perk {
    padding-top: 14px;
}
/* button {

} */

.flex-container {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.right {
    flex: 33%;
    padding-top: 8%
}

.left {
    flex: 34%;
    padding-top: 3%
}

.center {
    flex: 33%;
    padding-top: 3%
}