<html>
<div class="perk">
    <input type="checkbox" id="perk 1" data-card="-1" data-number="2" onclick="Remove(this)" />
    <input type="checkbox" id="perk 1.2" onclick="RemoveTwo1s(this)" />
    <label for="perk 1">Remove two -1 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 2" onclick="Replace1With1(this)" />
    <label for="perk 2">Replace one -1 card with one +1 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" data-card="+1" data-number="2" onclick="Add(this)" />
    <input type="checkbox" id="perk 3.2" onclick="AddTwo1s(this)" />
    <label for="perk 3">Add two +1 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 4" onclick="AddOne3(this)" />
    <label for="perk 4">Add one +3 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 5" onclick="AddThreeRollingPush1s(this)" />
    <input type="checkbox" id="perk 5.2" onclick="AddThreeRollingPush1s(this)" />
    <label for="perk 5">Add three <img src="img/small_Rolling.png" /> <img src="img/small_Push.png" /> 1 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 6" onclick="AddTwoRollingPierce3s(this)" />
    <label for="perk 6">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Pierce.png" /> 3 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 7" onclick="AddOneRollingStun(this)" />
    <input type="checkbox" id="perk 7.2" onclick="AddOneRollingStun(this)" />
    <label for="perk 7">Add one <img src="img/small_Rolling.png" /> <img src="img/small_Stun.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 8"onclick="AddRollingDisarmMuddle(this)" />
    <label for="perk 8">Add one <img src="img/small_Rolling.png" /> <img src="img/small_Disarm.png" /> card and one <img src="img/small_Rolling.png" /> <img src="img/small_Muddle.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 9" onclick="AddOneRollingAddTarget(this)" />
    <input type="checkbox" id="perk 9.2" onclick="AddOneRollingAddTarget(this)" />
    <label for="perk 9">Add one <img src="img/small_Rolling.png" /> Add <img src="img/small_Target.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 10"onclick="AddOne1Shield1(this)" />
    <label for="perk 10">Add one +1 <img src="img/small_Shield.png" /> 1, Self card</label>
</div>
<div class="perk"> 
    <input type="checkbox" id="perk 11"onclick="AddOne1(this)" />
    <label for="perk 11">Ignore negative item effects and add one +1 card</label>
</div>
</html>