<html>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 1"
      data-rcard="-1"
      data-rnumber="2"
      onclick="remove(this)"
    />
    <input
      type="checkbox"
      id="perk 1.2"
      data-rcard="-1"
      data-rnumber="2"
      onclick="remove(this)"
    />
    <label for="perk 1">Remove two <img src="img/small_-1.png" /> cards</label>
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 2"
      data-addcard="+1"
      data-addnumber="1"
      data-rcard="-1"
      data-rnumber="1"
      onclick="replace(this)"
    />
    <label for="perk 2"
      >Replace one <img src="img/small_-1.png" /> card with one
      <img src="img/small_+1.png" /> card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 3"
      data-addcard="+1"
      data-addnumber="2"
      onclick="add(this)"
    />
    <input
      type="checkbox"
      id="perk 3.2"
      data-addcard="+1"
      data-addnumber="2"
      onclick="add(this)"
    />
    <label for="perk 3">Add two <img src="img/small_+1.png" /> cards</label>
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 4"
      data-addcard="+3"
      data-addnumber="1"
      onclick="add(this)"
    />
    <label for="perk 4">Add one <img src="img/small_+3.png" /> card</label>
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 5"
      data-addcard="+0 Push 1 Rolling"
      data-addnumber="3"
      data-isrolling="true"
      onclick="add(this)"
    />
    <input
      type="checkbox"
      id="perk 5.2"
      data-addcard="+0 Push 1 Rolling"
      data-addnumber="3"
      data-isrolling="true"
      onclick="add(this)"
    />
    <label for="perk 5"
      >Add three <img src="img/small_Rolling.png" />
      <img src="img/small_Push.png" /> 1 cards</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 6"
      data-addcard="+0 Pierce 3 Rolling"
      data-addnumber="2"
      data-isrolling="true"
      onclick="add(this)"
    />
    <label for="perk 6"
      >Add two <img src="img/small_Rolling.png" />
      <img src="img/small_Pierce.png" /> 3 cards</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 7"
      data-addcard="+0 Stun Rolling"
      data-addnumber="1"
      data-isrolling="true"
      onclick="add(this)"
    />
    <input
      type="checkbox"
      id="perk 7.2"
      data-addcard="+0 Stun Rolling"
      data-addnumber="1"
      data-isrolling="true"
      onclick="add(this)"
    />
    <label for="perk 7"
      >Add one <img src="img/small_Rolling.png" />
      <img src="img/small_Stun.png" /> card</label
    >
  </div>
  <div class="perk">
    <input type="checkbox" id="perk 8" onclick="addRollingDisarmMuddle(this)" />
    <label for="perk 8"
      >Add one <img src="img/small_Rolling.png" />
      <img src="img/small_Disarm.png" /> card and one
      <img src="img/small_Rolling.png" />
      <img src="img/small_Muddle.png" /> card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 9"
      data-addcard="+0 Add Target Rolling"
      data-addnumber="1"
      data-isrolling="true"
      onclick="add(this)"
    />
    <input
      type="checkbox"
      id="perk 9.2"
      data-addcard="+0 Add Target Rolling"
      data-addnumber="1"
      data-isrolling="true"
      onclick="add(this)"
    />
    <label for="perk 9"
      >Add one <img src="img/small_Rolling.png" /> Add
      <img src="img/small_Target.png" /> card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 10"
      data-addcard="+1 Shield 1"
      data-addnumber="1"
      onclick="add(this)"
    />
    <label for="perk 10"
      >Add one <img src="img/small_+1.png" />
      <img src="img/small_Shield.png" /> 1, Self card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 11"
      data-addcard="+1"
      data-addnumber="1"
      onclick="add(this)"
    />
    <label for="perk 11"
      >Ignore negative item effects and add one
      <img src="img/small_+1.png" /> card</label
    >
  </div>
</html>
