<html>
<div class="perk">    
    <input type="checkbox" id="perk 2" onclick="RemoveFour0s(this)" />
    <label for="perk 2">Remove four +0 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 2" onclick="Replace1With1(this)" />
    <input type="checkbox" id="perk 2.2" onclick="Replace1With1(this)" />
    <input type="checkbox" id="perk 2.3" onclick="Replace1With1(this)" />
    <label for="perk 2">Replace one -1 card with one +1 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" onclick="AddOne2AndTwo2s(this)" />
    <label for="perk 3">Add one -2 card and two +2 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 4" onclick="AddOne1Immobilize(this)" />
    <input type="checkbox" id="perk 4.2" onclick="AddOne1Immobilize(this)" />
    <label for="perk 4">Add one +1 <img src="img/small_Immobilize.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 5" onclick="AddOne2Muddle(this)" />
    <input type="checkbox" id="perk 5.2" onclick="AddOne2Muddle(this)" />
    <label for="perk 5">Add one +2 <img src="img/small_Muddle.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 6" onclick="AddTwoRollingPush2s(this)" />
    <label for="perk 6">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Push.png" /> 2 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 7" onclick="AddTwoRollingEarth(this)" />
    <input type="checkbox" id="perk 7.2" onclick="AddTwoRollingEarth(this)" />
    <label for="perk 7">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Earth.png" /> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 8" onclick="AddTwoRollingAir(this)" />
    <label for="perk 8">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Air.png" /> cards</label>
</div>
</html>