<html>
<div class="perk">
    <input type="checkbox" id="perk 1" data-rcard="-1" data-rnumber="2" onclick="Remove(this)" />
    <input type="checkbox" id="perk 1.2" data-rcard="-1" data-rnumber="2" onclick="Remove(this)" />
    <label for="perk 1">Remove two <img src="img/small_-1.png" /> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 2" data-rcard="-2" data-rnumber="1" onclick="Remove(this)" />
    <label for="perk 2">Remove one <img src="img/small_-2.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" data-rcard="+1" data-rnumber="2" data-addcard="+4" data-addnumber="1" onclick="Replace(this)" />
    <input type="checkbox" id="perk 3.2" data-rcard="+1" data-rnumber="2" data-addcard="+4" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 3">Replace two <img src="img/small_+1.png" /> cards with one +4 card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 4" data-rcard="+0" data-rnumber="1" data-addcard="+1 Immobilize" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 4">Replace one <img src="img/small_+0.png" /> card with one <img src="img/small_+1.png" /> <img src="img/small_Immobilize.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 5" data-rcard="+0" data-rnumber="1" data-addcard="+1 Disarm" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 5">Replace one <img src="img/small_+0.png" /> card with one <img src="img/small_+1.png" /> <img src="img/small_Disarm.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 6" data-rcard="+0" data-rnumber="1" data-addcard="+2 Wound" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 6">Replace one <img src="img/small_+0.png" /> card with one <img src="img/small_+2.png" /> <img src="img/small_Wound.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 7" data-rcard="+0" data-rnumber="1" data-addcard="+2 Poison" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 7">Replace one <img src="img/small_+0.png" /> card with one <img src="img/small_+2.png" /> <img src="img/small_Poison.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 8" data-rcard="+0" data-rnumber="1" data-addcard="+2 Curse" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 8">Replace one <img src="img/small_+0.png" /> card with one <img src="img/small_+2.png" /> <img src="img/small_Curse.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 9" data-rcard="+0" data-rnumber="1" data-addcard="+3 Muddle" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 9">Replace one <img src="img/small_+0.png" /> card with one +3 <img src="img/small_Muddle.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 10" data-rcard="-1" data-rnumber="1" data-addcard="+0 Stun" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 10">Replace one <img src="img/small_-1.png" /> card with one <img src="img/small_+0.png" /> <img src="img/small_Stun.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 11" data-addcard="+1 Rolling" data-addnumber="3" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 11">Add three <img src="img/small_Rolling.png" /> <img src="img/small_+1.png" /> cards</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 12" data-addcard="+0 Curse Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <input type="checkbox" id="perk 12.2" data-addcard="+0 Curse Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 12">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Curse.png" /> cards</label>
</div>
</html>