<html>
<div class="perk">
    <input type="checkbox" id="perk 1" data-rcard="-1" data-rnumber="2" onclick="Remove(this)" />
    <input type="checkbox" id="perk 1.2" data-rcard="-1" data-rnumber="2" onclick="Remove(this)" />
    <label for="perk 1">Remove two <img src="img/small_-1.png" /> cards</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 2" data-rcard="+0" data-rnumber="4" onclick="Remove(this)" />
    <label for="perk 2">Remove four <img src="img/small_+0.png" /> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" data-rcard="-2" data-rnumber="1" data-addcard="+0" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 3">Replace one <img src="img/small_-2.png" /> card with one <img src="img/small_+0.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 4" data-rcard="-1" data-rnumber="1" data-addcard="+1" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 4">Replace one <img src="img/small_-1.png" /> card with one <img src="img/small_+1.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 5" data-rcard="+0" data-rnumber="1" data-addcard="+2" data-addnumber="1" onclick="Replace(this)" />
    <input type="checkbox" id="perk 5.2" data-rcard="+0" data-rnumber="1" data-addcard="+2" data-addnumber="1" onclick="Replace(this)" />
    <label for="perk 5">Replace one <img src="img/small_+0.png" /> card with one <img src="img/small_+2.png" /> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 6" data-addcard="+1 Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <input type="checkbox" id="perk 6.2" data-addcard="+1 Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 6">Add two <img src="img/small_Rolling.png" /> <img src="img/small_+1.png" /> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 7" data-addcard="+0 Pierce 3 Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 7">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Pierce.png" /> 3 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 8" data-addcard="+0 Poison Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <input type="checkbox" id="perk 8.2" data-addcard="+0 Poison Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 8">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Poison.png" /> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 9" data-addcard="+0 Muddle Rolling" data-addnumber="2" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 9">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Muddle.png" /> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 10" data-addcard="+0 Invisible Rolling" data-addnumber="1" data-isrolling="true" onclick="Add(this)" />
    <label for="perk 10">Add one <img src="img/small_Rolling.png" /> <img src="img/small_Invisible.png" /></label>
</div>
</html>