<html>
<div class="perk">
    <input type="checkbox" id="perk 1" onclick="RemoveTwo1s(this)" />
    <input type="checkbox" id="perk 1.2" onclick="RemoveTwo1s(this)" />
    <label for="perk 1">Remove two -1 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 2" onclick="Remove2(this)">
    <label for="perk 2">Remove one -2 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" onclick="ReplaceTwo1With4(this)" />
    <input type="checkbox" id="perk 3.2" onclick="ReplaceTwo1With4(this)" />
    <label for="perk 3">Replace two +1 cards with one +4 card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 4" onclick="Replace0With1Immobilize(this)">
    <label for="perk 4">Replace one +0 card with one +1 <img src="img/small_Immobilize.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 5" onclick="Replace0With1Disarm(this)">
    <label for="perk 5">Replace one +0 card with one +1 <img src="img/small_Disarm.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 6" onclick="Replace0With2Wound(this)">
    <label for="perk 6">Replace one +0 card with one +2 <img src="img/small_Wound.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 7" onclick="Replace0With2Poison(this)">
    <label for="perk 7">Replace one +0 card with one +2 <img src="img/small_Poison.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 8" onclick="Replace0With2Curse(this)">
    <label for="perk 8">Replace one +0 card with one +2 <img src="img/small_Curse.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 9" onclick="Replace0With3Muddle(this)">
    <label for="perk 9">Replace one +0 card with one +3 <img src="img/small_Muddle.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 10" onclick="Replace1With0Stun(this)">
    <label for="perk 10">Replace one -1 card with one +0 <img src="img/small_Stun.png" /> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 11" onclick="AddThreeRolling1s(this)">
    <label for="perk 11">Add three <img src="img/small_Rolling.png" /> +1 cards</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 12" onclick="AddTwoRollingCurse(this)">
    <input type="checkbox" id="perk 12.2" onclick="AddTwoRollingCurse(this)">
    <label for="perk 12">Add two <img src="img/small_Rolling.png" /> <img src="img/small_Curse.png" /> cards</label>
</div>
</html>