<div class="perk">    
    <input type="checkbox" id="perk 1" onclick="RemoveFour0s(this)">
    <label for="perk 1">Remove four +0 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 2" onclick="Replace1With1(this)">
    <input type="checkbox" id="perk 2.2" onclick="Replace1With1(this)">
    <label for="perk 2">Replace one -1 card with one +1 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" onclick="AddTwo1s(this)">
    <input type="checkbox" id="perk 3.2" onclick="AddTwo1s(this)">
    <label for="perk 3">Add two +1 cards</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 4" onclick="AddOne0Stun(this)">
    <label for="perk 4">Add one +0 <img src="img/small_Stun.png"> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 5" onclick="AddOne1Wound(this)">
    <label for="perk 5">Add one +1 <img src="img/small_Wound.png"> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 6" onclick="AddOne1Immobilize(this)">
    <label for="perk 6">Add one +1 <img src="img/small_Immobilize.png"> card</label>
</div>
<div class="perk">    
    <input type="checkbox" id="perk 7" onclick="AddOne1Curse(this)">
    <label for="perk 7">Add one +1 <img src="img/small_Curse.png"> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 8" onclick="AddTwo2Fires(this)">
    <input type="checkbox" id="perk 8.2" onclick="AddTwo2Fires(this)">
    <label for="perk 8">Add two +2 <img src="img/small_Fire.png"> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 9" onclick="AddTwo2Ices(this)">
    <input type="checkbox" id="perk 9.2" onclick="AddTwo2Ices(this)">
    <label for="perk 9">Add two +2 <img src="img/small_Ice.png"> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 10" onclick="AddOneRollingEarthAir(this)">
    <label for="perk 10">Add one <img src="img/small_Rolling.png"> <img src="img/small_Earth.png"> and one <img src="img/small_Rolling.png"> <img src="img/small_Air.png"> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 11" onclick="AddOneRollingLightDark(this)">
    <label for="perk 11">Add one <img src="img/small_Rolling.png"> <img src="img/small_Light.png"> and one <img src="img/small_Rolling.png"> <img src="img/small_Dark.png"> card</label>
</div>