<div class="perk">
        <input type="checkbox" id="perk 1" onclick="RemoveTwo1s(this)">
        <input type="checkbox" id="perk 1.2" onclick="RemoveTwo1s(this)">
        <label for="perk 1">Remove two -1 cards</label>
    </div>
<div class="perk">
    <input type="checkbox" id="perk 2" onclick="Replace2With0(this)">
    <label for="perk 2">Replace one -2 card with one +0 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 3" onclick="AddTwo1s(this)">
    <input type="checkbox" id="perk 3.2" onclick="AddTwo1s(this)">
    <label for="perk 3">Add two +1 cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 4" onclick="AddOne3(this)">
    <label for="perk 4">Add one +3 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 5" onclick="AddTwoRollingFires(this)">
    <label for="perk 5">Add two <img src="img/small_Rolling.png"> <img src="img/small_Fire.png"> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 6" onclick="AddThreeRollingMuddles(this)">
    <label for="perk 6">Add three <img src="img/small_Rolling.png"> <img src="img/small_Muddle.png"> cards</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 7" onclick="AddOne1Wound(this)">
    <input type="checkbox" id="perk 7.2" onclick="AddOne1Wound(this)">
    <label for="perk 7">Add one +1 <img src="img/small_Wound.png"> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 8" onclick="AddOne1Immobilize(this)">
    <input type="checkbox" id="perk 8.2" onclick="AddOne1Immobilize(this)">
    <label for="perk 8">Add one +1 <img src="img/small_Immobilize.png"> card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 9" onclick="AddOne1Heal2(this)">
    <input type="checkbox" id="perk 9.2" onclick="AddOne1Heal2(this)">
    <label for="perk 9">Add one +1 <img src="img/small_Heal.png"> 2 card</label>
</div>
<div class="perk">
    <input type="checkbox" id="perk 10" onclick="AddOne0AddTarget(this)">
    <label for="perk 10">Add one +0 Add <img src="img/small_Target.png"> card</label>
</div>