<html>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 1"
      data-rcard="-1"
      data-rnumber="2"
      onclick="Remove(this)"
    />
    <input
      type="checkbox"
      id="perk 1.2"
      data-rcard="-1"
      data-rnumber="2"
      onclick="Remove(this)"
    />
    <label for="perk 1">Remove two <img src="img/small_-1.png" /> cards</label>
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 2"
      data-rcard="-2"
      data-rnumber="1"
      data-addcard="+0"
      data-addnumber="1"
      onclick="Replace(this)"
    />
    <label for="perk 2"
      >Replace one <img src="img/small_-2.png" /> card with one
      <img src="img/small_+0.png" /> card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 3"
      data-addcard="+1"
      data-addnumber="2"
      onclick="Add(this)"
    />
    <input
      type="checkbox"
      id="perk 3.2"
      data-addcard="+1"
      data-addnumber="2"
      onclick="Add(this)"
    />
    <label for="perk 3">Add two <img src="img/small_+1.png" /> cards</label>
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 4"
      data-addcard="+3"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <label for="perk 4">Add one <img src="img/small_+3.png" /> card</label>
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 5"
      data-addcard="+0 Fire Rolling"
      data-addnumber="2"
      data-isrolling="true"
      onclick="Add(this)"
    />
    <label for="perk 5"
      >Add two <img src="img/small_Rolling.png" />
      <img src="img/small_Fire.png" /> cards</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 6"
      data-addcard="+0 Muddle Rolling"
      data-addnumber="3"
      data-isrolling="true"
      onclick="Add(this)"
    />
    <label for="perk 6"
      >Add three <img src="img/small_Rolling.png" />
      <img src="img/small_Muddle.png" /> cards</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 7"
      data-addcard="+1 Wound"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <input
      type="checkbox"
      id="perk 7.2"
      data-addcard="+1 Wound"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <label for="perk 7"
      >Add one <img src="img/small_+1.png" />
      <img src="img/small_Wound.png" /> card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 8"
      data-addcard="+1 Immobilize"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <input
      type="checkbox"
      id="perk 8.2"
      data-addcard="+1 Immobilize"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <label for="perk 8"
      >Add one <img src="img/small_+1.png" />
      <img src="img/small_Immobilize.png" /> card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 9"
      data-addcard="+1 Heal 2"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <input
      type="checkbox"
      id="perk 9.2"
      data-addcard="+1 Heal 2"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <label for="perk 9"
      >Add one <img src="img/small_+1.png" /> <img src="img/small_Heal.png" /> 2
      card</label
    >
  </div>
  <div class="perk">
    <input
      type="checkbox"
      id="perk 10"
      data-addcard="+0 Add Target"
      data-addnumber="1"
      onclick="Add(this)"
    />
    <label for="perk 10"
      >Add one <img src="img/small_+0.png" /> Add
      <img src="img/small_Target.png" /> card</label
    >
  </div>
</html>
